@model BookLibraryV2.Models.BookViewModel
@{
    ViewBag.Title = "AddBook";
}

<h2>AddBook</h2>

@using (Html.BeginForm("Create","Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

}